.about-profile {
  padding-block: 4rem;
justify-content: center;
width: 100%;
height: auto;
img {
    width: 40px; 
    padding: 8px;

}
span{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
       
        & a{
          letter-spacing:3px;
          padding-block: 0.4rem;
         
        }
        :hover{
      animation: to_fall 0.8s  both infinite alternate;
        }      
  }
}
@keyframes to_fall {
  100%{
    
    font-size: 1.8rem;
    color: rgba(0, 255, 255, 0.842);
    text-shadow: 0.30px 1px 30px black;
  }
  0%{
    font-size: 1.5rem;
    color: #000;
    
  }
}