.about-profile {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding-block: 4rem;

  span:nth-child(1){
    animation: trail 0.5s backwards ;    

  }
  span:nth-child(2){
    animation: trail 0.6s backwards ;    

  }
  span:nth-child(3){
    animation: trail 0.7s backwards ;    

  }
  span:nth-child(4){
    animation: trail 0.8s backwards ;    

  }
  span:nth-child(5){
    animation: trail 0.9s backwards ;    

  }
img {
    width: 40px; 
    padding: 8px;

}

span{

  

  display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
       
        & a{
          letter-spacing:3px;
          padding-block: 0.4rem;
         
        }
        :hover{
      animation: to_fall 0.8s  both infinite alternate;
 
        }      
  
  }
  
}
@keyframes to_fall {
  100%{
    
    font-size: 1.8rem;
    color: rgba(0, 255, 255, 0.842);
    text-shadow: 0.30px 1px 30px black;
  }
  0%{
    font-size: 1.5rem;
    color: #000;
    
  }
}

@keyframes trail{
from{
  transform: translateY(950px);
  opacity: 0.5;
  text-shadow: 0.200px 0.50px 8px  black;
}

}