header {
  justify-content: center;
  text-align: center;
  padding-block: 2.5rem;

  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
  }

  h1 {
    padding-block: 1rem;
  }
  span{
font-size: 1.5rem;
  }

}
