header {
 
  justify-content: center;
  text-align: center;
  padding-block: 2.5rem;
  
  
  
  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid;
  }
  
  
  h1 {
    padding-block: 1rem;
  }
  span{
    font: var(--lg-texte);
    
  }
  
}

