.MyHardSkills {
  justify-content: center;
  align-items: center;
  display: grid;

  & .container {
    width: 700px;
   
    padding: 2rem;
    gap: 20px;

    display: flex;
    justify-content: space-between;

    & h1:nth-child(1) {
      display: flex;
      padding-block: 15px;
    }
  }

  .box {
    width: 200px;
    height: 180px;
    border-radius: 15px;
    border: 1px solid rgba(0, 255, 255, 0.842);
    margin-top: 15px;
  
    & img {
      margin: auto;
      width: 98px;
      padding-block: 1rem;
    }
  
  }

}
.block {
  opacity: 20%;
}
