.MyHardSkills {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 700px;
    height: 600px;
    padding: 2rem;

    border: 1px solid;
    gap: 20px;
    justify-content: center;
    display: grid;
grid-template-columns: repeat(3,1fr);
}
  .box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 15%;

    img {
      display: flex;
      justify-content: center;
      width: 130px;
    }
  }
}
