.MySoftskills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
 padding-block: 10rem;

  .container-card {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

}

  .card-SoftSkills {
        
    width: 250px;
    height: 250px;

    border: 1.5px solid;
    border-style: dashed;
  }

}

@media (max-width: 600px) {
        .container-card {
display: flex;
flex-wrap: wrap;

        }
      }
      