.MySoftskills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
  padding-block: 15rem;



 .container-card {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

}

  .card-SoftSkills {
        
    width: 250px;
    height: 250px;

    border: 2.5px solid rgb(67, 214, 202);

    animation: appear linear;
    animation-timeline: view() ;
    animation-range:0% 40%  ;
}

}

@keyframes appear{
        from{
                opacity: 0;
              scale: 0.5;
                transform: translatey(-310px);
        }
        to{
                opacity: 1;
               scale: 1;


        }
      
}

@media (max-width: 600px) {
        .container-card {
display: flex;
flex-wrap: wrap;

        }
      }
      