.socialnetwork {
        margin-top: -2.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: auto;
       & img{
                width: 2rem;
                height: 4rem;
        }
        img {
    border-radius: 3rem;
  }
}
